@import url('https://fonts.googleapis.com/css?family=Hind:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Karla:400,500,700');

body {
	font-family: 'Karla', 'Helvetica Neue', Helvetica;
	font-weight: 400;
	color: #888;

	line-height: 1.7;
	letter-spacing: 2em:
}

h1,
h2,
h3,
h4 {
	font-weight: 500;
	color: #777;
}

a {
	color: #888;
	border-bottom: 1px dotted #54964c;
	padding-bottom: 2px;
}

a:hover {
	text-decoration: underline;
	color: #54964c;
	padding-bottom: 4px;
	border-bottom: 2px solid #54964c;
	text-decoration: none;
}



p {
	margin-top: 20px;
}

p, ul, li, a {
	font-size: 16px;

}

/* Klasser ================*/

.marginTop {
	margin-top: 30px;
}

.bigMarginTop {
	margin-top: 60px;
}

.paddingSides {
	padding-left:80px;
	padding-right: 80px;
}

.centerText {
	text-align: center;
}

.greyText {
	color: #969696;
	font-weight: 900;
}

.border {
	border: 1px solid #666;
	opacity: 0.25;
	margin: 10px 0 20px 0;
	width: 70px;
}

.title {

}

.light {
	opacity: 0.5;
}

/* ======================= */

/* IDs ===================*/


#picDiv {
	position: fixed;
	height: 100%;
	background-color: #eee;
	background: url(../images/j.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#picDiv a {
	border: none;
}

#picDiv a:hover {
	border-bottom: 2px solid #54964c;
}

#contentDiv {
	float: right;

}

/* ======================= */

/* Media Queries ========= */

@media screen and (max-width: 992px) {

		body {
			font-size: 18px;
		}
    #contentDiv {

    }

    #picDiv {
			position: relative;
    	height: 200px;
    	width: 100%;
    }

    #title {
    	font-size: 100%;
    }

    .paddingSides {
	padding-left:40px;
	padding-right: 40px;
}

.darker {
	color: #111;
	font-weight: bold;
}



}

/* ======================= */
