@import url('https://fonts.googleapis.com/css?family=Fjalla+One:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Cantarell:300,400,700');

body {
  font-family: 'Cantarell';
  background-color: #fdfdfd ;
  color: #464646;
  font-size: 16px;

}

a {
  color: #464646;
  border-bottom: 1px dotted #464646;
}

a:hover {
  border-bottom: 3px solid #7395b7;
  color: #7395b7;
  text-decoration: none;
  padding-bottom: 5px;
}

img {
  margin-bottom: 30px;
}

p {
  line-height: 30px;
}

#topSection {
  background-color: #7395b7 ;
  opacity: 0;
}

#aboutSection {
  background-color: #fdfdfd;
  opacity: 0;
}

#title {
  border: 5px solid #fdfdfd;
  padding: 10px;
  font-weight: 700;
  font-family: 'Fjalla One';
  color: #fdfdfd;
  letter-spacing: 0.1em;
}

.marginTop {
  margin-top: 60px;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}
